<!DOCTYPE html>
<html lang="en">

<head th:replace="components/head">
	<link rel="stylesheet" th:src="@{/assets/css/login.css}">
</head>

<body class="login-body">
	<div class="container login">
		<div class="container">
			<div class=" container-image" th:each="logos:${logos}">
				<a th:href="@{/index/inicio}">
					<img th:src="@{'/images/' + ${logos.login}}" width="250">
				</a>
			</div>
			<div class="heading my-5">
				<h2 class="title-login">Inicia Sesión</h2>
			</div>
			<div class="px-5">
				<a th:href="@{/oauth2/authorization/google}"
				   class="btn btn-primary btn-lg btn-block border-0"
				   style="background-color: #55acee;margin: 20px 30px 0 30px;width: auto;padding-top: 8px;padding-bottom: 8px;border-radius: 5px;font-size: 12px;">
					<i class="fab fa-google mr-2"></i>Continuar con Google
				</a>
				<a class="btn btn-primary btn-lg btn-block border-0" style="background-color: #3b5998;margin: 20px 30px 0 30px;width: auto;padding-top: 8px;padding-bottom: 8px;border-radius: 5px;font-size: 12px;">
					<i class="fab fa-facebook mr-2"></i>Continue con Facebook
				</a>
				<a class="btn btn-primary btn-lg btn-block border-0" style="background-color: #bababa;margin: 20px 30px 0 30px;width: auto;padding-top: 8px;padding-bottom: 8px;border-radius: 5px;font-size: 12px;">
					<i class="fab fa-apple mr-2"></i>Continue con Apple
				</a>
				<form th:action="@{/login}" th:object="${usuario}" method="POST" class="m-0">

					<div class="form-group">
						<label for="username">
							Correo Electrónico
							<span class="required">*</span>
						</label>
						<input type="email" class="form-input form-wide" id="username" name="username" required />
					</div>
					<div class="form-group">
						<label for="password">
							Contraseña
							<span class="required">*</span>
						</label>
						<input type="password" class="form-input form-wide" id="password" name="password" required />
					</div>
					<p class="tituloUsuarioNuevo pt-4 m-0 text-dark">¿Eres un usuario nuevo?
						<a th:href="@{/registrar}"
						   class="registroUsuario text-white">Registrate aqui.
						</a>
					</p>
					<p class="pt-4 text-dark forget-password form-footer-right">
						¿Olvidaste tu contraseña?
						<a th:href="@{/cambiar-contrasena}" class="text-white">
							Haz click aquí
						</a>
					</p>
					<input name="_csrf" type="hidden"
						value="mPc73lbY6orX-zupYwtSFa0N8tb8twk1IvFV1ntC5Wus2zuGrMUKvTO7j7v6zg6dWyZmLMtu37eZj2sYRJRisxkg1VqfvV-2" />
					<button type="submit" class="btn btn-dark btn-md w-100">
						Ingresar
					</button>

				</form>
			</div>
		</div>
	</div>

	<!-- Plugins JS File -->
	<script data-cfasync="false"
		th:src="@{../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js}"></script>
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/js/optional/isotope.pkgd.min.js}"></script>
	<script th:src="@{/assets/js/plugins.min.js}"></script>
	<script th:src="@{/assets/js/jquery.appear.min.js}"></script>

	<!-- Main JS File -->
	<script th:src="@{/assets/js/main.min.js}"></script>
</body>

</html>