<!DOCTYPE html>
<html lang="en">

<!--<head th:replace="fragments/head"></head>-->

<head>
	<!--	<title>Inicio</title>-->
	<th:block th:replace="components/head :: global-style"></th:block>
	<th:block th:replace="components/head :: inicio-style"></th:block>
</head>

<body style="background-color: #f8f8f8;">
	<div class="page-wrapper">
		<!-- NOTICE -->
		<div th:replace="components/top-bar"></div>

		<!-- HEADER -->
		<header th:replace="components/header"></header>

		<main class="main">
			<div class="container">
				<h1 class="section-title">Nuestras Ofertas</h1>
				<div class="row">
					<div th:each="productosAgrupados : ${productosAgrupados}" class="col-3">
						<!--<h1 th:text="${productosAgrupados.getNombre()}"></h1>
                        <p th:text="${productosAgrupados.getCategoria().getNombre()}"></p>
                        <ul th:each="productosHijos: ${productosAgrupados.getProductosHijos()}">
                            <li th:text="${productosHijos.getId()}"></li>
                        </ul>-->
						<a th:href="@{'/index/ofertas/'+ ${productosAgrupados.getId()}}">
							<div class="card" style="width: 18rem;">
								<img th:src="@{'/images/ofertas/' + ${productosAgrupados.getImagen()}}"
									 class="card-img-top"
									 th:alt="${productosAgrupados.getNombre()}"
									 style="width: 400px;">
								<div class="card-body">
									<h5 class="card-title"
										th:text="${productosAgrupados.getNombre()}"></h5>
									<div th:each="listaPrecios:${productosAgrupados.getProductoPre}" >
										<p class="card-text" th:text="${listaPrecios.getPrecio()}"></p>
										<p class="card-text" th:text="${listaPrecios.getPrecio_tachado()}"></p>
										<p class="card-text" th:text="${listaPrecios.getPorcentaje()}"></p>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>

		</main>
	</div>

	<!-- FOOTER-->
	<footer th:replace="components/footer"></footer>

	<div class="loading-overlay">
		<div class="bounce-loader">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>

	<div class="mobile-menu-overlay"></div>
	<!-- End .mobil-menu-overlay -->

	<!-- MENU MOBILE -->
	<div th:replace="components/menu-mobile"></div>

	<!-- MENU INFERIOR MOBILE-->
	<div th:replace="components/menu-inferior-mobile"></div>

	<!-- POPUP -->
	<div th:replace="components/popup"></div>


	<a id="scroll-top" href="demo4.html#top" title="Top" role="button"><i class="icon-angle-up"></i></a>
	<div class="button align-items-center d-flex">
		<a class="button-img ms-lg-2 ms-1" href="#" target="_blank"><img th:src="@{/images/whatsapp.png}" alt=""></a>
	</div>

	<!-- Plugins JS File -->
	<script data-cfasync="false"
		th:src="@{../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js}"></script>
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/js/optional/isotope.pkgd.min.js}"></script>
	<script th:src="@{/assets/js/plugins.min.js}"></script>
	<script th:src="@{/assets/js/jquery.appear.min.js}"></script>

	<!-- Main JS File -->
	<script th:src="@{/assets/js/main.min.js}"></script>
	<script>
		// Función para alternar entre los mensajes cada cierto tiempo
		function alternarMensajes() {
			var message1 = document.getElementById('message1');
			var message2 = document.getElementById('message2');

			setInterval(function () {
				// Desvanecer gradualmente el mensaje actual
				fadeOut(message1, function () {
					// Una vez que la transición de desvanecimiento ha terminado, cambiar el mensaje
					message1.style.display = 'none';
					message2.style.display = 'block';
					// Desvanecer gradualmente el nuevo mensaje
					fadeIn(message2);
					// Intercambiar los mensajes
					var temp = message1;
					message1 = message2;
					message2 = temp;
				});
			}, 5000); // Cambiar el mensaje cada 5 segundos (5000 milisegundos)
		}

		// Función para desvanecer gradualmente un elemento
		function fadeOut(element, callback) {
			var opacity = 1;
			var intervalID = setInterval(function () {
				if (opacity > 0) {
					opacity -= 0.1;
					element.style.opacity = opacity;
				} else {
					clearInterval(intervalID);
					// Llamar al callback cuando la transición haya terminado
					if (callback) {
						callback();
					}
				}
			}, 50); // Duración de la transición: 50 milisegundos
		}

		// Función para mostrar gradualmente un elemento
		function fadeIn(element) {
			var opacity = 0;
			element.style.opacity = opacity;
			element.style.display = 'block';
			var intervalID = setInterval(function () {
				if (opacity < 1) {
					opacity += 0.1;
					element.style.opacity = opacity;
				} else {
					clearInterval(intervalID);
				}
			}, 50); // Duración de la transición: 50 milisegundos
		}

		alternarMensajes();
	</script>

</body>


</html>