<!DOCTYPE html>
<html lang="en">

<head>
	<title>Muscle Shop - Carrito</title>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" th:href="@{/images/muscle-shop-isotipo.png}">
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/notice.css}">
	<link rel="stylesheet" th:href="@{/assets/css/header.css}">
	<link rel="stylesheet" th:href="@{/assets/css/footer.style.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/popup.css}">
	<link rel="stylesheet" th:href="@{/assets/css/demo4.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/global.css}">
	<link rel="stylesheet" th:href="@{/assets/css/login.css}">
	<link rel="stylesheet" th:href="@{/assets/css/style.demo4.css}">
	<link rel="stylesheet" th:href="@{/assets/css/carousel.style.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/inicio.style.min.css}">
	<script src="https://kit.fontawesome.com/98270ba09b.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: #f8f8f8;">
	<div class="page-wrapper">
		<!-- NOTICE -->
		<div th:replace="components/top-bar"></div>

		<!-- HEADER -->
		<header th:replace="components/header"></header>

		<main class="main">
			<div class="container">
				<h1 class="section-title text-center py-5 my-3">Carrito de Compras</h1>

				<div class="row carrito" th:if="${session.carrito != null and session.carrito.size() > 0}">
					<div class="col-lg-12">
						<div class="cart-table-container">

							<table class="table table-cart">
								<!-- Table Header -->
								<thead>
									<tr>
										<th class="thumbnail-col"></th>
										<th class="product-col">Producto</th>
										<th class="price-col">Precio</th>
										<th class="qty-col text-center">Cambiar Cantidad</th>
										<th class="text-right">Subtotal</th>
									</tr>
								</thead>

								<!-- Table Body -->
								<tbody>
									<tr class="product-row" th:each="pedidoPro : ${session.carrito}">
										<!-- Columnas de la tabla para cada producto -->
										<td>
											<!-- Imagen del producto -->
											<figure class="product-image-container">
												<a href="product.html" class="product-image">
													<img th:src="@{'/images/' + ${pedidoPro.productoCarrito.imagenProducto}}"
														alt="product">
												</a>
												<a th:href="@{/index/carrito/eliminarProducto/{id} (id = ${pedidoPro.productoCarrito.productoPropiedadDetalleId})}"
													class="btn-remove icon-cancel" title="Remove Product"></a>
											</figure>
										</td>
										<td class="product-col">
											<h5 class="product-title">
												<a href="product.html" th:text="${pedidoPro.productoCarrito.nombreProducto}"></a>

											</h5>
										</td>
										<td>
											<!--th:if="${pedidoPro.productoPropiedadesDetalles != null}"-->
											<!--<span class="cart-product-qty"
												  th:if="${pedidoPro.productoCarrito != null}"
												  th:text="'S/. ' + ${pedidoPro.productoCarrito.precio}">
											</span>-->
											<span th:if="${pedidoPro.productoCarrito != null}"
												  th:text="'S/. ' + ${pedidoPro.productoCarrito.precioReducido}">

											</span>
										</td>
										<td style="text-align: center; height: 100px; position: relative;" >
											<div class="product-single-qty"
												style="margin-top: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
												<form th:action="@{/index/carrito/actualizarCantidad}" method="post" class="d-flex align-items-center">
													<input type="hidden" name="id"
														th:value="${pedidoPro.productoCarrito.productoPropiedadDetalleId}" />
													<input class="horizontal-quantity form-control" type="text"
														name="cantidad" th:value="${pedidoPro.cantidad}">
													<button type="submit" class="btn btn-sm btn-primary cant ml-2 mx-4">
														<i class="fas fa-check"></i>
													</button>
												</form>
											</div>
										</td>

										<td class="text-right">
											<span class="subtotal-price"
												th:text="'S/.' + ${pedidoPro.sub_total}"></span>
										</td>
									</tr>
									<!--<tr th:if="${session.cupon != null}">
										<td class="align-middle">
											<h5 class="product-title">
												<a>CUPON</a>
											</h5>
										</td>
										<td class="text-left">
											<h5 class="product-title">
												<a th:text="${session.cupon.nombre}"></a>
											</h5>
										</td>
										<td>
											<h5 class="product-title">
												<a>Descuento</a>
											</h5>
										</td>
										<td class="text-center">
											<h5 class="product-title">
												<a th:text="${session.cupon.valor}+'%'"></a>
											</h5>
										</td>
										<td class="text-right">
											<span class="subtotal-price"
												th:text="' - S/.' + ${session.descuento}"></span>
										</td>
									</tr>-->
								</tbody>

								<!-- Table Footer -->
								<tfoot class="totalCarrito">
									<tr>
										<td colspan="6" class="py-5">
											<div class="d-flex justify-content-between gap-2">
												<div class="text-total">Total: </div>
												<div class="total-cant" th:text="'  S/.' + ${session.totalCarrito}"></div>
											</div>
										</td>
									</tr>
									<tr>
										<td colspan="6" class="clearfix">
											<div class="float-left">
												<!-- Descuentos o cupones -->
												<div class="cart-discount">
													<form th:action="@{/index/cupon}">
														<div class="input-group">
															<input type="text" name="imputCupon" class="form-control form-control-sm"
																placeholder="Ingresar código" required>
															<div class="input-group-append">
																<button class="btn btn-sm" type="submit">Aplicar Cupon</button>
															</div>
														</div><!-- End .input-group -->
													</form>
												</div>
											</div><!-- End .float-left -->

											<div class="float-right">
												<!-- Continuar con la compra -->
												<a th:href="@{/templates/user/pago}" type="submit"
                                                   class="btn btn-shop btn-update-cart">
													Continuar compra <i class="fa fa-arrow-right"></i>
												</a>
											</div><!-- End .float-right -->
										</td>
									</tr>
								</tfoot>
							</table>


						</div><!-- End .cart-table-container -->
					</div><!-- End .col-lg-12 -->
				</div><!-- End .row -->

				<!-- Mensaje cuando el carrito está vacío -->
				<div class="carrito-vacio" th:if="${session.carrito == null or session.carrito.size() == 0}">
					<section class="py-5 text-center">
						<p class="lead text-muted text-center m-0">¡Tu carrito de la compra está vacío!</p>
					</section>
				</div>
			</div><!-- End .container -->
			<div class="mb-6"></div><!-- margin -->
		</main>

	</div>

	<!-- FOOTER-->
	<footer th:replace="components/footer"></footer>

	<div class="loading-overlay">
		<div class="bounce-loader">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>

	<div class="mobile-menu-overlay"></div>
	<!-- End .mobil-menu-overlay -->

	<!-- MENU MOBILE -->
	<div th:replace="components/menu-mobile"></div>

	<!-- MENU INFERIOR MOBILE-->
	<div th:replace="components/menu-inferior-mobile"></div>

	<!-- POPUP -->
	<div th:replace="components/popup"></div>


	<a id="scroll-top" href="demo4.html#top" title="Top" role="button"><i class="icon-angle-up"></i></a>
	<div class="button align-items-center d-flex">
		<a class="button-img ms-lg-2 ms-1" href="#" target="_blank"><img th:src="@{/images/whatsapp.png}" alt=""></a>
	</div>

	<!-- Plugins JS File -->
	<!--Para ingresar el correo en los popups-->
	<script data-cfasync="false"
			th:src="@{../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js}"></script>

	<!--Para toda la web-->
	<script th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>

	<!--Para Filtrar y Ordenar una Lista => https://isotope.metafizzy.co/-->
	<script th:src="@{/assets/js/optional/isotope.pkgd.min.js}"></script>

	<!--Para el carrousel objetivos, bestseller owl-carousel-->
	<script th:src="@{/assets/js/plugins.min.js}"></script>
	<script th:src="@{/assets/js/jquery.appear.min.js}"></script>

	<!-- Main JS File -->

	<script th:src="@{/assets/js/main.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/jquery.slim.min.js}"></script>
	<script>
		// Variables globales para los mensajes
		var message1 = document.getElementById('message1');
		var message2 = document.getElementById('message2');

		// Función para alternar entre los mensajes cada cierto tiempo
		function alternarMensajes() {
			// Desvanecer gradualmente el mensaje actual
			fadeOut(message1, function () {
				// Una vez que la transición de desvanecimiento ha terminado, cambiar el mensaje
				message1.style.display = 'none';
				message2.style.display = 'block';
				// Desvanecer gradualmente el nuevo mensaje
				fadeIn(message2);
				// Intercambiar los mensajes
				var temp = message1;
				message1 = message2;
				message2 = temp;
				// Establecer un temporizador para el próximo cambio de mensaje
				setTimeout(alternarMensajes, 5000); // Cambiar el mensaje cada 5 segundos (5000 milisegundos)
			});
		}

		// Función para desvanecer gradualmente un elemento
		function fadeOut(element, callback) {
			var opacity = 1;
			var intervalID = setInterval(function () {
				if (opacity > 0) {
					opacity -= 0.1;
					element.style.opacity = opacity;
				} else {
					clearInterval(intervalID);
					// Llamar al callback cuando la transición haya terminado
					if (callback) {
						callback();
					}
				}
			}, 50); // Duración de la transición: 50 milisegundos
		}

		// Función para mostrar gradualmente un elemento
		function fadeIn(element) {
			var opacity = 0;
			element.style.opacity = opacity;
			element.style.display = 'block';
			var intervalID = setInterval(function () {
				if (opacity < 1) {
					opacity += 0.1;
					element.style.opacity = opacity;
				} else {
					clearInterval(intervalID);
				}
			}, 50); // Duración de la transición: 50 milisegundos
		}

		// Llamar a la función para iniciar el cambio de mensajes
		alternarMensajes();
	</script>


</body>


</html>