<!DOCTYPE html>
<html lang="en">

<head>
	<!--	<title>Inicio</title>-->
	<th:block th:replace="components/head :: global-style"></th:block>
	<th:block th:replace="components/head :: inicio-style"></th:block>
</head>

<body style="background-color: #f8f8f8;">
	<div class="page-wrapper">

		<!-- NOTICE -->
		<div th:replace="components/top-bar"></div>

		<!-- HEADER -->
		<header th:replace="components/header"></header>

		<main class="main">
			<div class="container" th:each="menu:${menu}">
				<nav aria-label="breadcrumb" class="breadcrumb-nav py-3">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a th:href="@{/index/inicio}">
								<i class="icon-home"></i>
							</a>
						</li>
						<li class="breadcrumb-item">
							<a th:href="@{'/index/' + ${menu.getUrl()}}">
								<span th:text="${menu.getNombre()}"></span>
							</a>
						</li>
					</ol>
				</nav>

				<div class="">
					<img src="">
				</div>
				<h1 class="section-title categoriaPro text-center background-text" th:text="${menuNombre}"></h1>
				<p th:text="${menu.getDescripcion()}"></p>
				<!--
                    <div class="container">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-md-3" th:each="producto, i : ${proCate}">
                                <div class="product-default inner-btn inner-icon inner-icon-inline left-details">
                                    <figure>
                                        <a th:href="@{'/index/inicio/' + ${proCateUrl.url} + '/' + ${producto.id}}">
                                            <img th:src="@{'/images/'} + ${producto.imagen}" width="280" height="280"
                                                alt="product" />
                                        </a>
                                        <div class="btn-icon-group">
                                            <a th:href="@{/index/productoAgregar(id=${producto.id})}"
                                                class="btn-icon btn-add-cart"><i
                                                    class="icon-shopping-cart"></i></a>
                                        </div>
                                        <div class="label-group">
                                            <div class="product-label label-sale" th:text="${porcentajes[producto.id]} + '%'">
                                            </div>
                                        </div>
                                    </figure>

                                    <div class="product-details">
                                        <h3 class="product-title pb-2"> <a
                                                th:href="@{'/index/inicio/' + ${proCateUrl.url} + '/' + ${producto.id}}"
                                                th:text="${producto.nombre}"></a>
                                        </h3>

                                        <div class="price-box">
                                            <del class="old-price" th:text="'S/.' + ${preciosTachados[producto.id]}"></del>
                                            <span class="product-price" th:text="'S/. ' + ${precios[producto.id]}"></span>
                                        </div>
                                    </div>

							</div>

						</div>



					</div>


					<nav class="toolbox toolbox-pagination justify-content-end">
						<ul class="pagination toolbox-item">
							<li class="page-item disabled">
								<a class="page-link page-link-btn" href="category.html#"><i
										class="icon-angle-left"></i></a>
							</li>
							<li class="page-item active">
								<a class="page-link" href="category.html#">1 <span class="sr-only">(current)</span></a>
							</li>
							<li class="page-item"><a class="page-link" href="category.html#">2</a></li>
							<li class="page-item"><a class="page-link" href="category.html#">3</a></li>
							<li class="page-item"><span class="page-link">...</span></li>
							<li class="page-item">
								<a class="page-link page-link-btn" href="category.html#"><i
										class="icon-angle-right"></i></a>
							</li>
						</ul>
					</nav>
				</div>

			-->
			</div>
		</main>
	</div>

	<!-- FOOTER-->
	<footer th:replace="components/footer"></footer>

	<div class="loading-overlay">
		<div class="bounce-loader">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>

	<div class="mobile-menu-overlay"></div>
	<!-- End .mobil-menu-overlay -->

	<!-- MENU MOBILE -->
	<div th:replace="components/menu-mobile"></div>

	<!-- MENU INFERIOR MOBILE-->
	<div th:replace="components/menu-inferior-mobile"></div>

	<!-- POPUP -->
	<div th:replace="components/popup"></div>


	<a id="scroll-top" href="demo4.html#top" title="Top" role="button"><i class="icon-angle-up"></i></a>
	<div class="button align-items-center d-flex">
		<a class="button-img ms-lg-2 ms-1" href="#" target="_blank"><img th:src="@{/images/whatsapp.png}" alt=""></a>
	</div>

	<!-- Plugins JS File -->
	<script data-cfasync="false"
		th:src="@{../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js}"></script>
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/js/optional/isotope.pkgd.min.js}"></script>
	<script th:src="@{/assets/js/plugins.min.js}"></script>
	<script th:src="@{/assets/js/jquery.appear.min.js}"></script>

	<!-- Main JS File -->
	<script th:src="@{/assets/js/main.min.js}"></script>
	<script>
		// Función para alternar entre los mensajes cada cierto tiempo
		function alternarMensajes() {
			var message1 = document.getElementById('message1');
			var message2 = document.getElementById('message2');

			setInterval(function () {
				// Desvanecer gradualmente el mensaje actual
				fadeOut(message1, function () {
					// Una vez que la transición de desvanecimiento ha terminado, cambiar el mensaje
					message1.style.display = 'none';
					message2.style.display = 'block';
					// Desvanecer gradualmente el nuevo mensaje
					fadeIn(message2);
					// Intercambiar los mensajes
					var temp = message1;
					message1 = message2;
					message2 = temp;
				});
			}, 5000); // Cambiar el mensaje cada 5 segundos (5000 milisegundos)
		}

		// Función para desvanecer gradualmente un elemento
		function fadeOut(element, callback) {
			var opacity = 1;
			var intervalID = setInterval(function () {
				if (opacity > 0) {
					opacity -= 0.1;
					element.style.opacity = opacity;
				} else {
					clearInterval(intervalID);
					// Llamar al callback cuando la transición haya terminado
					if (callback) {
						callback();
					}
				}
			}, 50); // Duración de la transición: 50 milisegundos
		}

		// Función para mostrar gradualmente un elemento
		function fadeIn(element) {
			var opacity = 0;
			element.style.opacity = opacity;
			element.style.display = 'block';
			var intervalID = setInterval(function () {
				if (opacity < 1) {
					opacity += 0.1;
					element.style.opacity = opacity;
				} else {
					clearInterval(intervalID);
				}
			}, 50); // Duración de la transición: 50 milisegundos
		}

		// Llamar a la función para iniciar el cambio de mensajes
		alternarMensajes();
	</script>
</body>

</html>